<style>
    .required {
        color: red;
    }

    .btn_upload {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        position: relative;
        color: #fff;
        background-color: #2a72d4;
        border: 1px solid #166b8a;
        padding: 5px 10px;
    }

    .btn_upload:hover,
    .btn_upload:focus {
        background-color: #7ca9e6;
    }

    .yes {
        display: flex;
        align-items: flex-start;
        margin-top: 10px !important;
    }

    .btn_upload input {
        cursor: pointer;
        height: 100%;
        position: absolute;
        filter: alpha(opacity=1);
        -moz-opacity: 0;
        opacity: 0;
    }

    .it {
        height: 100px;
        margin-left: 10px;
    }

    .btn-rmv1,
    .btn-rmv2,
    .btn-rmv3,
    .btn-rmv4,
    .btn-rmv5 {
        display: none;
    }

    .rmv {
        cursor: pointer;
        color: #fff;
        border-radius: 30px;
        border: 1px solid #fff;
        display: inline-block;
        background: rgba(255, 0, 0, 1);
        margin: -5px -10px;
    }

    .rmv:hover {
        background: rgba(255, 0, 0, 0.5);
    }
</style>
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{data.title}}</h4>
    <span aria-hidden="true" ngbAutofocus style="cursor: pointer" (click)="activeModal.dismiss()">X</span>

</div>
<div class="modal-body">
    <form>
        <div class="col-md-12 row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-label">Tên sản phẩm</label>
                    <div class="col-sm-7" >
                        <input type="text" class="p-inputtext-md" pInputText maxlength="100" [(ngModel)]="TenSanPham"
                            name="tensanpham" disabled="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-label">Số lượng</label>
                    <div class="col-sm-7" >
                        <input class="p-inputtext-md" pInputText maxlength="100" [(ngModel)]="SoLuong"
                            name="soluongsanpham" disabled="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-label">Số lượng thêm</label>
                    <div class="col-sm-7">
                        <input type="number" class="p-inputtext-md" pInputText maxlength="9" [(ngModel)]="SoLuongThem" name="giasanpham">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-label">Số lượng bớt</label>
                    <div class="col-sm-7">
                        <input type="number" class="p-inputtext-md" pInputText maxlength="9" [(ngModel)]="SoLuongBot" name="giasanpham">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button pButton type="button" (click)="saveData();" label="Ghi lại" class="p-button-raised p-button-rounded"
        icon="pi pi-plus"></button>
    <button pButton class="p-button-raised p-button-rounded" label="Hủy bỏ" (click)="activeModal.close()"></button>
</div>