<style>


</style>

<div class="modal-header">
  <h5 class="modal-title">Phiếu mua hàng</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div id="divInHoaDonMuaHang">
        <h2 style="text-align: center"><b>PHIẾU MUA HÀNG</b></h2>
        <p style="text-align: center">Ngày {{Day}} tháng {{Month}} năm {{Year}}</p>
        <p style="text-align: center">Câu lạc bộ: <b>{{OBJ.TenCauLacBo}}</b></p>
        <br />
        <div style="margin-left:25px;">
          <p>Họ và tên: <b>{{OBJ.TenKhachHang}}</b></p>
          <p>Số điện thoại: <b>{{OBJ.SoDienThoai}}</b></p>
          <br>

          <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
            <tr>
            <td style="width: 13.0829%;">STT</td>
            <td style="width: 36.9171%;">Tên sản phẩm</td>
            <td style="width: 25%;">Giá</td>
            <td style="width: 25%;">Số lượng</td>
            </tr>
            <tr *ngFor = "let item of danhsachsanpham;let i=index;">
            <td style="width: 13.0829%;">{{i+1}}</td>
            <td style="width: 36.9171%;">{{item.TenSanPham}}</td>
            <td style="width: 25%;">{{convertNumberToMoney(item.GiaSanPham)}} đồng</td>
            <td style="width: 25%;">{{item.SoLuong}}</td>
            </tr>
            </tbody>
            </table>
            <br>
          <p>Tổng tiền: <b>{{convertNumberToMoney(donhang.TongTien)}} đồng</b></p>
          <p>Tiền được giảm: <b>{{convertNumberToMoney(donhang.GiaTriVoucher)}} đồng</b></p>
          <p>Hình thức thanh toán: <b>{{OBJ.HinhThucThanhToan}}</b></p>
          <p>Tổng tiền thanh toán: <b>{{convertNumberToMoney(donhang.SoTienThanhToan)}} đồng</b></p>
          <p>Ngày mua hàng: <b>{{OBJ.NgayMua}}</b></p>
          <p>Ghi chú : .....................................................................</p>
        </div>
        <br />
        <table style="text-align: center; width: 100%; border: none" border="0">
          <tr>
            <td style="border: none!important">
              <p><b>NHÂN VIÊN</b></p>
              <p><b><i>(Ký và ghi rõ họ tên)</i></b></p>
            </td>
            <td style="border: none!important">
              <p><b>XÁC NHẬN CỦA KHÁCH HÀNG</b></p>
              <p><b><i>(Ký và ghi rõ họ tên)</i></b></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary active" (click)="Save()">In xác nhận</button>
  <button type="button" class="btn btn-primary active" (click)="close()">Hủy bỏ</button>
</div>
