<style>
  .btn_upload {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #2a72d4;
    border: 1px solid #166b8a;
    padding: 5px 10px;
  }

  .btn_upload:hover,
  .btn_upload:focus {
    background-color: #7ca9e6;
  }

  .yes {
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
  }

  .btn_upload input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0;
    opacity: 0;
  }

  .it {
    height: 100px;
    margin-left: 10px;
  }

  .btn-rmv1,
  .btn-rmv2,
  .btn-rmv3,
  .btn-rmv4,
  .btn-rmv5 {
    display: none;
  }

  .rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    margin: -5px -10px;
  }

  .rmv:hover {
    background: rgba(255, 0, 0, 0.5);
  }

  .btntabclicked {
    background-color: white;
    border-color: #0062cc;
    border-width: 1px;
    color: black;
    border-bottom: none;
    outline: 0;
    width: 25%;
    height: 60px;
  }

  .btntab {
    background-color: #0062cc;
    border-color: #0062cc;
    color: white;
    width: 25%;
    height: 60px;
  }
</style>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div class="modal-header">
  <h5 class="modal-title">Sửa nhật ký</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="height: 500px;">

    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="panelCollapse">
            <div class="collapse show">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <div class="form-group">
                    <label class="label-text">Nội dung<span style="color:red;margin-left:3px;">(*)</span>
                    </label>
                    <textarea class="form-control" rows="5" maxlength="500" [(ngModel)]="NhatKy"></textarea>
                  <div class="form-group" style="text-align: right; margin-top: 20px;">
                    <button type="button" class="btn btn-primary active" (click)="Save()">Ghi lại</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
