<style>
  
    .btn_upload {
      cursor: pointer;
      display: inline-block;
      /* overflow: hidden; */
      position: relative;
      color: #fff;
      background-color: #2a72d4;
      border: 1px solid #166b8a;
      padding: 5px 10px;
    }
  
    .btn_upload:hover,
    .btn_upload:focus {
      background-color: #7ca9e6;
    }
  
    .yes {
      display: flex;
      align-items: flex-start;
      margin-top: 10px !important;
    }
  
    .btn_upload input {
      cursor: pointer;
      height: 100%;
      position: absolute;
      filter: alpha(opacity=1);
      -moz-opacity: 0;
      opacity: 0;
    }
  
    .it {
      height: 100px;
      margin-left: 10px;
    }
  
    .btn-rmv1,
    .btn-rmv2,
    .btn-rmv3,
    .btn-rmv4,
    .btn-rmv5 {
      display: none;
    }
  
    .rmv {
      cursor: pointer;
      color: #fff;
      border-radius: 30px;
      border: 1px solid #fff;
      display: inline-block;
      background: rgba(255, 0, 0, 1);
      margin: -5px -10px;
    }
  
    .rmv:hover {
      background: rgba(255, 0, 0, 0.5);
    }
  </style>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="modal-header">
  <h5 class="modal-title">{{Title}}</h5>
  <!-- <span aria-hidden="true" ngbAutofocus style="cursor: pointer" (click)="activeModal.dismiss()">X</span> -->
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="panelCollapse">
        <div>
          <div class="collapse show">
            <div class="row">
              <!--Cột trái-->
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="label-text">Số điện thoại <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="SoDienThoai"
                     />
                </div>   
                <div class="form-group">
                  <label class="label-text">Số điện thoại zalo <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="SoDienThoaiZalo"
                     />
                </div>   
                <div class="form-group">
                  <label class="label-text">Idmessenger <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="Idmessenger"
                     />
                </div>    
                <div class="form-group">
                  <label class="label-text">IdYoutube <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="IdYoutube"
                     />
                </div>                      
              </div>
              <!-- cột phải-->
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="label-text">IdTiktok <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="IdTiktok"
                     />
                </div>   
                <div class="form-group">
                  <label class="label-text">IdZalo <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="IdZalo"
                     />
                </div>   
                <div class="form-group">
                  <label class="label-text">IdFacebook <span style="color:red;margin-left:3px;">(*)</span>
                  </label>
                  <input type="text" style="height: 34px;" maxlength="100" class="form-control" [(ngModel)]="IdFacebook"
                     />
                </div>   
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary active" (click)="Save()">Ghi lại</button>
  <button type="button" class="btn btn-primary active" (click)="activeModal.close()">Hủy bỏ</button>
</div>