<style>
    .widget-heading{
        margin-top: 20px;
    text-align: center;
    opacity: .8;
    font-weight: bold;
    }
    .widget-subheading{
        text-align: center;
        margin-bottom: 10px;
    }
    
</style>
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Trang chủ</h4>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<hr>
<!-- Page-header end -->

<!-- Page-body start -->
<div class="page-body">
    <!-- <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-night-fade" style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) !important;">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Tổng số hội viên</div>
                        <div class="widget-subheading">1289</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-arielle-smile" style="background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
        }">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Tổng số câu lạc bộ</div>
                        <div class="widget-subheading">85</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-happy-green" style="background-image: linear-gradient(to bottom, #00b09b, #96c93d) !important;
        }">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Tổng số nhân viên</div>
                        <div class="widget-subheading">88</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-premium-dark">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Tổng số sản phẩm</div>
                        <div class="widget-subheading">2020</div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br> -->
    <div class="row">

        <div class="col-xs-12 col-sm-6" style="border-right: 1px solid #1E1E1F;">
            <h2 style="text-decoration: underline;
            font-size: 25px;">Hệ thống quản trị APP Curves (v1.0)</h2>
            
            <h5>Các phân hệ chính:</h5>
            <ul class="lv1">
                <li>
                    Quản lý nhân viên
                </li>
                <li>
                    Quản lý hội viên
                </li>
                <li>
                    Quản lý tin tức
                </li>
                <li>
                    Quản lý sản phẩm
                </li>
                <li>
                    Quản lý thực đơn
                </li>
                <li>
                    Quản lý món ăn
                </li>
                <li>
                    Quản lý lịch sử cân đo
                </li>             
                <li>
                    Quản trị hệ thống
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 box2 ng-scope">
            <h2 style= "text-decoration: underline;
            font-size: 25px;">Thông tin hỗ trợ:</h2>
            <ul class="lv1">
                <li>
                    Hướng dẫn sử dụng : vui lòng tải file sau đây !
                </li>
                <br>
                <li>
                    Hỗ trợ nghiệp vụ: Nếu có vướng mắc trong quá trình khai thác hệ thống, vui lòng liên hệ đầu mối.
                </li>
                <li>
                    Hỗ trợ kỹ thuật: Công Ty ....
                    <ul class="lv2">
                        <li>
                            Điện thoại: 0986155888
                        </li>
                        <li>
                            Hotline: 0986155888 (Mr. Viet)
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
    <hr>
</div>