
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper" >
      <app-header ></app-header>
       <!-- header -->
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- menu left -->
                <app-sidemenu ></app-sidemenu>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <router-outlet></router-outlet>
                                    <!-- Page-body start -->
                                </div>
                            </div>
                            <!-- Main-body end -->                         
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
  
  
  