<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Danh sách hồ sơ đặt cọc</h4>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton type="button" (click)="btnThemMoi({Id:0})" label="Thêm mới" class="p-button-raised p-button-rounded" icon="pi pi-plus"></button>
        <!-- <button pButton type="button" (click)="btnImport({Id:0})" label="Import" class="p-button-raised p-button-rounded" icon="pi pi-plus"></button> -->

    </ng-template>
</p-toolbar>
<p-table #dt [value]="khachhangs" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines table table-bordered" [rows]="10"   [paginator]="true"  [responsive]="true"  [rowHover]="true">
    <!-- <ng-template pTemplate="caption">

        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Nhập họ tên tìm kiếm" />
            </span>
        </div>
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th style="width:4%;">STT</th>
            <th style="width:13%;">Họ và tên</th>
            <th style="width:13%;">Số điện thoại</th>
            <th style="width:13%;">Email</th>
            <th style="width:13%;">Số thẻ</th>
            <th style="width:13%;">Ảnh đại diện</th>
            <th>Câu lạc bộ</th>
            <th>Ngày đăng ký</th>
            <th>Tình Trạng</th>
            <th>Chức năng</th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'HoVaTen', 'contains')"
                    placeholder="Họ tên" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'SoDienThoai', 'contains')"
                    placeholder="SDT" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Email', 'contains')"
                    placeholder="" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'SoThe', 'contains')"
                    placeholder="" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                 <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, 'NhuCauTapLuyen', 'contains')"
                    placeholder="" class="p-column-filter txtfiler p-inputtext-sm">  -->
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'CauLacBo', 'contains')"
                    placeholder="" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'NgayDangKyFormat', 'contains')"
                    placeholder="" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'TinhTrang', 'equals')"
                    styleClass="p-column-filter txtfiler p-inputtext-sm" placeholder="status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span *ngIf="option.value==0" class="tinhtrang-khonghoatdong">{{option.label}}</span>
                        <span *ngIf="option.value==1" class="tinhtrang-hoatdong">{{option.label}}</span>
                        <!-- <span *ngIf="option.value==2" class="tinhtrang-khonghoatdong">{{option.label}}</span>
                        <span *ngIf="option.value==3" class="tinhtrang-khonghoatdong">{{option.label}}</span> -->
                    </ng-template>
                </p-dropdown>
            </th>
            <th>
            </th>


        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-khachhang>
        <tr>
            <td>{{khachhang.STT}}</td>
            <td>{{khachhang.HoVaTen}}</td>
            <td>{{khachhang.SoDienThoai}}</td>
            <td>{{khachhang.Email}}</td>
            <td>{{khachhang.SoThe}}</td>
            <td>
                <img  src="{{khachhang.AnhDaiDien}}" width="120"
                 style="vertical-align: middle" class="img-thumbnail" />
            </td>
            <td>{{khachhang.CauLacBo}}</td>
            <td>{{khachhang.NgayDangKyFormat}}</td>
            <!-- <td>
                <img  src="{{khachhang.AnhBia}}" width="120"
                 style="vertical-align: middle" class="img-thumbnail" />
            </td> -->
            <td *ngIf="khachhang.TinhTrangView==0"><span [class]="'tinhtrang-khonghoatdong'">Chưa kích hoạt</span></td>
            <td *ngIf="khachhang.TinhTrangView==1"><span [class]="'tinhtrang-hoatdong'">Kích hoạt tập</span></td>
            <!-- <td *ngIf="khachhang.TinhTrangView==2"><span [class]="'tinhtrang-khonghoatdong'">Bảo lưu</span></td>
            <td *ngIf="khachhang.TinhTrangView==3"><span [class]="'tinhtrang-khonghoatdong'">Đã chuyển</span></td> -->
            <td>
                <button pButton pRipple type="button" (click)="btnThemMoi(khachhang)" class="p-mr-2 p-button-raised p-button-rounded" icon="pi pi-pencil" data-toggle="tooltip" data-placement="right" title="Thêm mới"></button>
                <button pButton pRipple type="button" (click)="changepass(khachhang)"  icon="pi pi-key" class="p-mr-2 p-button-raised p-button-rounded" data-toggle="tooltip" data-placement="right" title="Đổi mật khẩu"></button>
                <button pButton type="button" (click)="delete(khachhang)"  icon="pi pi-trash" class="p-button-raised p-button-rounded" data-toggle="tooltip" data-placement="right" title="Xóa khách hàng"></button>
                <!-- <button pButton type="button" (click)="themtudo(khachhang)"  icon="pi pi-plus" class="p-button-raised p-button-rounded"></button> -->
            </td>
        </tr>
    </ng-template>
</p-table>
