<style>

</style>
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Quản lý nhân viên</h4>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton type="button" (click)="ThemMoi({Id:0})" label="Thêm mới"
            class="p-button-raised p-button-rounded" icon="pi pi-plus"></button>

    </ng-template>
</p-toolbar>
<p-table #dt [value]="nhanviens" styleClass="p-datatable-gridlines table table-bordered" [rows]="10" [paginator]="true"
    [responsive]="true" [filterDelay]="0" [rowHover]="true" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:4%;">STT</th>
            <th style="width:13%;">Username</th>
            <th style="width:15%;">Họ tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Nhóm quyền</th>
            <th>Câu lạc bộ</th>
            <th style="width:15%">Trạng thái</th>
            <th style="width: 13%;">Chức năng</th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'TenDangNhap', 'contains')"
                    placeholder="Username" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'HoVaTen', 'contains')"
                    placeholder="họ tên" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Email', 'contains')"
                    placeholder="email" class="p-column-filter txtfiler p-inputtext-sm">

            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'SoDienThoai', 'contains')"
                    placeholder="SĐT" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'TenNhomQuyen', 'contains')"
                    placeholder="nhóm quyền" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'TenCauLacBo', 'startsWith')"
                    placeholder="câu lạc bộ" class="p-column-filter txtfiler p-inputtext-sm">
            </th>
            <th>
                <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'TinhTrang', 'equals')"
                    styleClass="p-column-filter txtfiler p-inputtext-sm" placeholder="status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span *ngIf="option.value==1" class="tinhtrang-hoatdong">{{option.label}}</span>
                        <span *ngIf="option.value==0" class="tinhtrang-khonghoatdong">{{option.label}}</span>

                    </ng-template>
                </p-dropdown>
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nhanvien>
        <tr>
            <td>{{nhanvien.STT}}</td>
            <td>{{nhanvien.TenDangNhap}}</td>
            <td>{{nhanvien.HoVaTen}}</td>
            <td>{{nhanvien.Email}}</td>
            <td>{{nhanvien.SoDienThoai}}</td>
            <td>{{nhanvien.TenNhomQuyen}}</td>
            <td>{{nhanvien.TenCauLacBo}}</td>
            <td *ngIf="nhanvien.TinhTrang==1"><span [class]="'tinhtrang-hoatdong'">Đang hoạt động</span></td>
            <td *ngIf="nhanvien.TinhTrang==0"><span [class]="'tinhtrang-khonghoatdong'">Không hoạt động</span></td>
            <td>
                <button pButton pRipple type="button" (click)="ThemMoi(nhanvien)"
                    class="p-mr-2 p-button-raised p-button-rounded" icon="pi pi-pencil"></button>
                <button pButton type="button" (click)="delete(nhanvien)" icon="pi pi-trash"
                    class="p-button-raised p-button-rounded"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
