

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Quản lý nhóm quyền</h4>          
                    <span></span>
                </div>
            </div>
        </div>       
    </div>
</div>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton type="button" (click)="ThemMoiNhomQuyen({Id:0})" label="Thêm mới" class="p-button-raised p-button-rounded" icon="pi pi-plus"></button>

    </ng-template>
</p-toolbar>
<p-table [value]="nhomquyens" styleClass="p-datatable-striped table table-bordered" [rows]="10" [paginator]="true"  [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>STT</th>
            <th>Mã Nhóm Quyền</th>
            <th>Tên Nhóm Quyền</th>
            <th>Tình Trạng</th>
            <th>Mô Tả</th>
            <th>Chức năng</th>
        </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-nhomquyen>
        <tr>
            <td>{{nhomquyen.STT}}</td>
            <td>{{nhomquyen.MaNhomQuyen}}</td>
            <td>{{nhomquyen.TenNhomQuyen}}</td>
            <td *ngIf="nhomquyen.TinhTrang==1"><span [class]="'tinhtrang-hoatdong'">Đang hoạt động</span></td>
            <td *ngIf="nhomquyen.TinhTrang==0"><span [class]="'tinhtrang-khonghoatdong'">Không hoạt động</span></td>
            <td>{{nhomquyen.MoTa}}</td>
            <td>
                <button pButton pRipple type="button" (click)="ThemMoiNhomQuyen(nhomquyen)" class="p-mr-2 p-button-raised p-button-rounded" icon="pi pi-pencil"></button>
                <button pButton type="button" (click)="deleteNhomQuyen(nhomquyen)"  icon="pi pi-trash" class="p-button-raised p-button-rounded"></button>
            </td>
        </tr>
    </ng-template>
</p-table>


