<div class="content" style="background-color: #01a9ac;">
    <div class="content-box">
        <div class="big-content">
            <!-- Main squares for the content logo in the background -->
            <div class="list-square">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
            </div>
            <!-- Main lines for the content logo in the background -->
            <div class="list-line">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <!-- The animated searching tool -->
            <i class="fa fa-search color" aria-hidden="true"></i>
            <!-- div clearing the float -->
            <div class="clear"></div>
        </div>
        <!-- Your text -->
        <h1>OOPS! Trang không tồn tại</h1>

    </div>
</div>