<style>
.card-header{
    padding: 1px;
    background: #d2cbcba8;
}
</style>
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Chi tiết đơn hàng</h4>
    <span aria-hidden="true" ngbAutofocus style="cursor: pointer" (click)="activeModal.dismiss()">X</span>

</div>
<div class="modal-body">
    <form>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" style="text-decoration: underline;">
                            Thông tin khách hàng
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Tên khách hàng: </label>
                                    <div class="col-sm-7">
                                        {{data.donhang?.TenKhachHang}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Số điện thoại: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.SoDienThoai}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Địa chỉ: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.DiaChi}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Thời gian đặt hàng: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.ThoiGianDatHang}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo" style="text-decoration: underline;">
                            Thông tin sản phẩm
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Tên sản phẩm: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.TenSanPham}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Số lượng: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.SoLuong}}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Đơn giá: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.Gia}} đ
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Ghi chú: </label>
                                    <div class="col-sm-7">
                                            {{data.donhang?.GhiChu}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Tổng tiền: </label>
                                    <div class="col-sm-7">
                                        {{TongTien}} đ
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Tình trạng xử lý: </label>
                                    <div class="col-sm-7" >
                                            {{TinhTrangDonHang}}
                                    </div>
                                    
                                </div>
                            </div>                           
                        </div>
                        <div class="col-md-12 row">
                           
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5">Thông tin chi tiết: </label>
                                    <div class="col-sm-7" >
                                            {{ThongTinSanPham}}
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </form>
</div>
<div class="modal-footer">
    <button pButton class="btn btn-primary active" (click)="activeModal.close()">Đóng</button>
</div>