
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Quản lý menu</h4>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<p-table [value]="datas" #dt dataKey="Id" editMode="row" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
                <th pSortableColumn="Name">Tên menu <p-sortIcon field="Name"></p-sortIcon></th>
                <th pSortableColumn="IconClass">Icon <p-sortIcon field="IconClass"></p-sortIcon></th>
                <th pSortableColumn="Order">Thứ tự sắp xếp <p-sortIcon field="Order"></p-sortIcon></th>
            <th style="width:8rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="product">

            <td >
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.Name" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.Name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td >
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.IconClass">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.IconClass}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td >
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="product.Order">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.Order}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
